/* .country-link{
    text-decoration: none;
    color: black;
}

.country-list-ctn{
    display: flex;
}

.one-country-ctn {
    display: flex;
    flex-direction: row;
    margin: 100px;
    gap: 20px;
    justify-content: end;
} */

.one-country-ctn a {
  text-decoration: none;
  color: black;
}
